<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.io</title>
    <script src="socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Hello i am socket client-transmitter from localhost sss</h1>
    <form id="form">
      <input id="input" type="text" placeholder="message" />
    </form>
    <br />
    <div id="messages"></div>

    <script>
      const ipAddress = 'localhost';
      // ssl
      // var socket = io(`wss://${ipAddress}:3000`, {
      // non-ssl
      var socket = io(`ws://${ipAddress}:3000`, {
        transports: ['websocket'],
        reconnectionDelayMax: 10000,
        auth: {
          token: '123',
        },
        query: {
          'my-key': 'my-value',
        },
      });
    </script>
  </body>
</html>
